bq_helper==0.4.1
lightgbm==4.5.0
pycuda==2024.1.2
pytools==2024.1.21
shapely==2.0.6
libpysal==4.9.2
learntools==0.3.4
ppft==1.7.6.9
fiona==1.10.1
urwid_readline==0.15.1
keras-nlp==0.18.1
torchtune==0.4.0
Wand==0.6.13
qgrid==1.3.1
jupyter_client==8.6.3
woodwork==0.31.0
overrides==7.7.0
y-py==0.6.2
docstring-to-markdown==0.15
Deprecated==1.2.15
ipywidgets==8.1.5
hep_ml==0.7.3
scikit-multilearn==0.2.0
cytoolz==1.0.1
pytesseract==0.3.13
click-plugins==1.1.1
path==17.0.0
onnx==1.17.0
dask==2024.12.1
odfpy==1.4.1
mpld3==0.5.10
Boruta==0.4.3
pytorch-ignite==0.5.1
fqdn==1.5.1
torchinfo==1.8.0
clint==0.5.1
boto3==1.35.83
pybind11==2.13.6
jsonpointer==3.0.0
google-genai==0.3.0
PyWavelets==1.8.0
jupyter_server_terminals==0.5.3
pox==0.3.5
keras-core==0.1.7
dnspython==2.7.0
pygltflib==1.16.3
pandas-profiling==3.6.6
asttokens==3.0.0
datasets==3.2.0
scikit-surprise==1.1.4
vtk==9.3.1
jupyter-ydoc==0.2.5
aiofiles==22.1.0
narwhals==1.18.4
datashader==0.16.3
coverage==7.6.9
isoduration==20.11.0
featuretools==1.31.0
plotly-express==0.4.1
types-python-dateutil==2.9.0.20241206
tcmlib==1.2.0
easyocr==1.7.2
slicer==0.0.7
ImageHash==4.3.1
fastcore==1.7.27
pyemd==1.0.0
fuzzywuzzy==0.18.0
GitPython==3.1.43
xgboost==2.0.3
ray==2.40.0
pandasql==0.7.3
update-checker==0.18.0
catboost==1.2.7
pathos==0.3.2
widgetsnbextension==4.0.13
cloudpickle==3.1.0
jupyter_server_fileid==0.9.3
nbdev==2.3.34
smmap==5.0.1
python-bidi==0.6.3
ninja==1.11.1.3
xvfbwrapper==0.2.9
urwid==2.6.16
fasttext==0.9.3
optuna==4.1.0
stopit==1.1.2
haversine==2.9.0
botocore==1.35.83
colorlog==6.9.0
jupyter_server==2.12.5
uri-template==1.3.0
notebook==6.5.4
fury==0.12.0
igraph==0.11.8
timm==1.0.12
multiprocess==0.70.16
google-cloud-automl==1.0.1
tiktoken==0.8.0
category-encoders==2.6.4
nltk==3.2.4
semver==3.0.2
olefile==0.47
SimpleITK==2.4.0
gymnasium==0.29.0
TPOT==0.12.1
dask-expr==1.1.21
ydata-profiling==4.12.1
tensorflow_decision_forests==1.10.0
google-cloud-translate==3.12.1
tensorflow-cloud==0.1.5
shap==0.44.1
ghapi==1.0.6
Cartopy==0.24.1
jupyter-lsp==1.5.1
gpxpy==1.6.2
tsfresh==0.20.2
mlcrate==0.2.0
papermill==2.6.0
visions==0.7.6
jupyterlab==3.6.8
args==0.1.0
typing-inspect==0.9.0
omegaconf==2.3.0
bayesian-optimization==2.0.1
qtconsole==5.6.1
docker-pycreds==0.4.0
trx-python==0.3
setproctitle==1.3.4
Chessnut==0.4.1
tbb==2022.0.0
lightning-utilities==0.11.9
jmespath==1.0.1
jupyterlab_server==2.27.3
ypy-websocket==0.8.4
ansicolors==1.1.8
wandb==0.19.1
leven==1.0.4
path.py==12.5.0
blobfile==3.0.0
tensorflow-io==0.37.1
pymc3==3.11.4
wavio==0.0.9
dacite==1.8.1
cligj==0.7.2
google-cloud-videointelligence==2.15.0
h2o==3.46.0.6
pdf2image==1.17.0
lml==0.1.0
deap==1.4.1
kornia==0.7.4
line_profiler==4.2.0
pydub==0.25.1
pyLDAvis==3.4.1
pyaml==24.12.1
antlr4-python3-runtime==4.9.3
Janome==0.5.0
langid==1.1.6
pyclipper==1.3.0.post6
setuptools-scm==8.1.0
geojson==3.1.0
scikit-plot==0.3.7
torchmetrics==1.6.0
ipympl==0.9.5
python-json-logger==3.2.1
pydegensac==0.1.2
jupyter_server_ydoc==0.8.0
phik==0.12.4
nose==1.3.7
pycryptodomex==3.21.0
keras-tuner==1.4.7
execnb==0.1.11
colorama==0.4.6
PyArabic==0.6.15
emoji==2.14.0
marshmallow==3.23.1
cesium==0.12.1
ydf==0.9.0
ujson==5.10.0
aiosqlite==0.20.0
Theano==1.0.5
alembic==1.14.0
annoy==1.17.3
Theano-PyMC==1.1.2
gitdb==4.0.11
xxhash==3.5.0
Pympler==1.1
dipy==1.10.0
s3fs==0.4.2
altair==5.5.0
geopandas==0.14.4
nbconvert==6.4.5
scikit-learn==1.2.2
watchdog==6.0.0
funcy==2.0
testpath==0.6.0
kaggle-environments==1.16.10
pytorch-lightning==2.4.0
openslide-python==1.4.1
rfc3986-validator==0.1.1
PyUpSet==0.1.1.post7
nbclient==0.5.13
wurlitzer==3.1.1
scikit-learn-intelex==2025.0.1
jupyter-events==0.11.0
squarify==0.4.4
comm==0.2.2
dataclasses-json==0.6.7
pettingzoo==1.24.0
python-lsp-server==1.12.0
nilearn==0.10.4
segment_anything==1.0
sentry-sdk==2.19.2
deepdiff==8.1.1
kornia_rs==0.1.7
eli5==0.13.0
google-cloud-vision==3.9.0
rgf-python==3.12.0
Farama-Notifications==0.0.4
stable-baselines3==2.1.0
jedi==0.19.2
google-api-core==1.34.1
jupyterlab-lsp==3.10.2
python-lsp-jsonrpc==1.1.2
s3transfer==0.10.4
kagglehub==0.3.5
pydicom==3.0.1
multimethod==1.12
docker==7.1.0
mypy-extensions==1.0.0
arrow==1.3.0
websockets==14.1
pypdf==5.1.0
isoweek==1.3.3
texttable==1.7.0
orderly-set==5.2.3
sphinx-rtd-theme==0.2.4
kt-legacy==1.0.5
pyct==0.5.0
seaborn==0.12.2
pyexcel-io==0.6.7
Shimmy==1.3.0
rfc3339-validator==0.1.4
stumpy==1.13.0
mamba==0.11.3
Rtree==1.3.0
keras-hub==0.18.1
pymongo==4.10.1
pyexcel-ods==0.6.0
preprocessing==0.1.13
lime==0.2.0.1
mne==1.8.0
htmlmin==0.1.12
QtPy==2.4.2
Mako==1.3.8
pycryptodome==3.21.0
keras-cv==0.9.0
pudb==2024.1.3
gatspy==0.3
scikit-optimize==0.10.2
dill==0.3.8
daal==2025.0.1
openslide-bin==4.0.0.6
tensorflow-text==2.17.0
json5==0.10.0
pyarrow==18.1.0
google-colab==1.0.0
psutil==5.9.5
pycparser==2.22
astunparse==1.6.3
scs==3.2.7
bokeh==3.4.3
ipython==7.34.0
jsonschema-specifications==2023.12.1
safetensors==0.4.5
librosa==0.10.2.post1
soxr==0.5.0.post1
libclang==18.1.1
annotated-types==0.7.0
gensim==4.3.3
python-dateutil==2.8.2
imagesize==1.4.1
py-cpuinfo==9.0.0
pyerfa==2.0.1.4
rich==13.8.1
google-ai-generativelanguage==0.6.6
jupyterlab_pygments==0.3.0
backcall==0.2.0
pyparsing==3.1.4
tensorflow-hub==0.16.1
scooby==0.10.0
en-core-web-sm==3.7.1
qdldl==0.1.7.post4
pydata-google-auth==1.8.2
srsly==2.4.8
ipython-genutils==0.2.0
torchaudio==2.4.1+cu121
catalogue==2.0.10
sphinxcontrib-devhelp==2.0.0
partd==1.4.2
gcsfs==2024.6.1
sklearn-pandas==2.2.0
Markdown==3.7
sphinxcontrib-qthelp==2.0.0
google-auth-httplib2==0.2.0
preshed==3.0.9
matplotlib==3.7.1
ipyleaflet==0.19.2
pytz==2024.2
tensorflow-probability==0.24.0
chardet==5.2.0
jupyter_core==5.7.2
gspread==6.0.2
pynvjitlink-cu12==0.3.0
MarkupSafe==2.1.5
lxml==4.9.4
tokenizers==0.19.1
gin-config==0.5.0
marisa-trie==1.2.0
ipython-sql==0.5.0
toml==0.10.2
kaggle==1.6.17
gspread-dataframe==3.3.1
arviz==0.19.0
bigquery-magics==0.2.0
tensorflow-io-gcs-filesystem==0.37.1
datascience==0.17.6
transformers==4.44.2
pyshp==2.3.1
google-cloud-functions==1.16.5
patsy==0.5.6
immutabledict==4.2.0
Jinja2==3.1.4
PyDrive2==1.20.0
protobuf==3.20.3
typeguard==4.3.0
spacy-legacy==3.0.12
spacy==3.7.6
murmurhash==1.0.10
thinc==8.2.5
eval_type_backport==0.2.0
PyDrive==1.3.1
tensorflow-metadata==1.15.0
pillow==10.4.0
imutils==0.5.4
google-cloud-aiplatform==1.67.1
Flask==2.2.5
moviepy==1.0.3
sqlparse==0.5.1
yarl==1.11.1
etils==1.9.4
language_data==1.2.0
xarray-einstats==0.8.0
lazy_loader==0.4
ipyevents==2.0.2
termcolor==2.4.0
tensorflow-datasets==4.9.6
psycopg2==2.9.9
wordcloud==1.9.3
google-cloud-bigquery-connection==1.15.5
linkify-it-py==2.0.3
pandas-gbq==0.23.1
pydantic_core==2.23.4
pydot==3.0.1
google-cloud-firestore==2.16.1
torchsummary==1.5.1
webencodings==0.5.1
jellyfish==1.1.0
gym==0.25.2
grpcio==1.64.1
python-utils==3.8.2
gdown==5.2.0
langcodes==3.4.0
plotnine==0.13.6
pymystem3==0.2.0
parso==0.8.4
py4j==0.10.9.7
scikit-image==0.24.0
entrypoints==0.4
ibis-framework==8.0.0
fastprogress==1.0.3
types-pytz==2024.2.0.20240913
grpc-google-iam-v1==0.13.1
oauthlib==3.2.2
missingno==0.5.2
pandas-datareader==0.10.0
pooch==1.8.2
cycler==0.12.1
filelock==3.16.1
einops==0.8.0
wrapt==1.16.0
idna==3.10
imageio==2.35.1
optree==0.12.1
argon2-cffi-bindings==21.2.0
namex==0.0.8
mkl==2024.2.2
greenlet==3.1.0
h5py==3.11.0
argon2-cffi==23.1.0
cffi==1.17.1
sphinxcontrib-applehelp==2.0.0
cymem==2.0.8
clarabel==0.9.0
nvidia-nccl-cu12==2.23.4
tzlocal==5.2
tifffile==2024.8.30
optax==0.2.2
nvtx==0.2.10
defusedxml==0.7.1
sphinxcontrib-serializinghtml==2.0.0
pyproj==3.6.1
opencv-python-headless==4.10.0.84
mizani==0.11.4
aiohappyeyeballs==2.4.0
proto-plus==1.24.0
pydotplus==2.0.2
grpcio-status==1.48.2
ml-dtypes==0.4.1
google-pasta==0.2.0
tqdm==4.66.5
torch==2.4.1+cu121
pyzmq==24.0.1
ipyparallel==8.8.0
parsy==2.1
spacy-loggers==1.0.5
param==2.1.1
statsmodels==0.14.3
absl-py==1.4.0
prometheus_client==0.20.0
opt-einsum==3.3.0
openpyxl==3.1.5
google-cloud-storage==2.8.0
duckdb==1.1.0
vega-datasets==0.9.0
mpmath==1.3.0
certifi==2024.8.30
charset-normalizer==3.3.2
google-cloud-bigquery==3.25.0
attrs==24.2.0
nibabel==5.2.1
pyogrio==0.9.0
humanize==4.10.0
mdit-py-plugins==0.4.2
albucore==0.0.16
tornado==6.3.3
dopamine_rl==4.0.9
PyOpenGL==3.1.7
sympy==1.13.3
tensorstore==0.1.65
folium==0.17.0
cupy-cuda12x==12.2.0
Sphinx==5.0.2
regex==2024.9.11
jieba==0.42.1
pluggy==1.5.0
zict==3.0.0
hyperopt==0.2.7
python-louvain==0.16
orbax-checkpoint==0.6.4
google-auth-oauthlib==1.2.1
soupsieve==2.6
pyasn1==0.6.1
cmake==3.30.3
pyOpenSSL==24.2.1
tf_keras==2.17.0
wcwidth==0.2.13
tensorflow==2.17.0
async-timeout==4.0.3
prettytable==3.11.0
keras==3.4.1
google-cloud-datastore==2.19.0
xyzservices==2024.9.0
ecos==2.0.14
google-cloud-core==2.4.1
progressbar2==4.5.0
pexpect==4.9.0
imageio-ffmpeg==0.5.1
ptyprocess==0.7.0
polars==1.6.0
astropy-iers-data==0.2024.9.16.0.32.21
exceptiongroup==1.2.2
shellingham==1.5.4
nbformat==5.10.4
tweepy==4.14.0
nest-asyncio==1.6.0
iniconfig==2.0.0
simple-parsing==0.1.6
multipledispatch==1.0.0
pygame==2.6.0
locket==1.0.0
SQLAlchemy==2.0.35
sentencepiece==0.2.0
plotly==5.24.1
rpy2==3.4.2
xarray==2024.9.0
ipytree==0.2.2
graphviz==0.20.3
opencv-python==4.10.0.84
decorator==4.4.2
docstring_parser==0.16
pickleshare==0.7.5
jsonpickle==3.3.0
flax==0.8.4
GDAL==3.6.4
googledrivedownloader==0.4
wasabi==1.1.3
jaxlib==0.4.26+cuda12.cudnn89
pyarrow-hotfix==0.6
bqplot==0.12.43
tables==3.8.0
anyio==3.7.1
bleach==6.1.0
numexpr==2.10.1
rpds-py==0.20.0
chex==0.1.86
tinycss2==1.3.0
gast==0.6.0
colorcet==3.1.0
pandas==2.1.4
atpublic==4.1.0
blis==0.7.11
cudf-cu12==24.4.1
toolz==0.12.1
python-slugify==8.0.4
babel==2.16.0
pydantic==2.9.2
miniKanren==1.0.3
traitlets==5.7.1
terminado==0.18.1
sphinxcontrib-htmlhelp==2.1.0
geocoder==1.38.1
proglog==0.1.10
textblob==0.17.1
audioread==3.0.1
holidays==0.57
contourpy==1.3.0
tf-slim==1.1.0
google-auth==2.27.0
cons==0.4.6
debugpy==1.6.6
array_record==0.5.1
geographiclib==2.0
markdown-it-py==3.0.0
requests-oauthlib==1.3.1
matplotlib-inline==0.1.7
editdistance==0.8.1
beautifulsoup4==4.12.3
tabulate==0.9.0
bigframes==1.17.0
community==1.0.0b1
fastrlock==0.8.2
fastai==2.7.17
gym-notices==0.0.8
astropy==6.1.3
intel-cmplr-lib-ur==2024.2.1
notebook_shim==0.2.4
mdurl==0.1.2
itsdangerous==2.2.0
threadpoolctl==3.5.0
numpy==1.26.4
Werkzeug==3.0.4
cryptography==43.0.1
StrEnum==0.4.15
traittypes==0.2.1
autograd==1.7.0
blosc2==2.0.0
text-unidecode==1.3
pycocotools==2.0.8
weasel==0.4.1
googleapis-common-protos==1.65.0
scipy==1.13.1
dlib==19.24.2
tenacity==9.0.0
yfinance==0.2.43
more-itertools==10.5.0
frozendict==2.4.4
tblib==3.0.0
cufflinks==0.17.3
cvxopt==1.3.2
ipykernel==5.5.6
peewee==3.17.6
importlib_metadata==8.5.0
h5netcdf==1.3.0
PySocks==1.7.1
imbalanced-learn==0.12.3
uc-micro-py==1.0.3
joblib==1.4.2
docutils==0.18.1
tensorboard==2.17.0
contextlib2==21.6.0
numba==0.60.0
music21==9.1.0
xlrd==2.0.1
webcolors==24.8.0
promise==2.3
soundfile==0.12.1
Send2Trash==1.8.3
google-api-python-client==2.137.0
prompt_toolkit==3.0.47
typer==0.12.5
sniffio==1.3.1
torchvision==0.19.1+cu121
httplib2==0.22.0
referencing==0.35.1
pytensor==2.25.4
jupyterlab_widgets==3.0.13
httpimport==1.4.0
holoviews==1.19.1
confection==0.1.5
uritemplate==4.1.1
rmm-cu12==24.4.0
firebase-admin==6.5.0
stanio==0.5.1
easydict==1.13
flatbuffers==24.3.25
llvmlite==0.43.0
mlxtend==0.23.1
future==1.0.0
websocket-client==1.8.0
prophet==1.1.5
requests==2.32.3
multidict==6.1.0
imgaug==0.4.0
google-generativeai==0.7.2
panel==1.4.5
osqp==0.6.7.post0
cloudpathlib==0.19.0
PyJWT==2.9.0
snowballstemmer==2.2.0
pydot-ng==2.0.0
zipp==3.20.2
typing_extensions==4.12.2
colour==0.1.5
intel-openmp==2024.2.1
geemap==0.34.2
google-crc32c==1.6.0
sphinxcontrib-jsmath==1.0.1
pyviz_comms==3.0.3
google-resumable-media==2.7.2
fastjsonschema==2.20.0
portpicker==1.5.2
sqlglot==20.11.0
aiohttp==3.10.5
msgpack==1.0.8
albumentations==1.4.15
frozenlist==1.4.1
cuda-python==12.2.1
google-cloud-resource-manager==1.12.5
google-cloud-bigtable==2.26.0
pathlib==1.0.1
ratelim==0.1.6
google-cloud-pubsub==2.23.1
huggingface-hub==0.24.7
cvxpy==1.5.3
multitasking==0.0.11
smart-open==7.0.4
urllib3==2.2.3
bidict==0.23.1
kiwisolver==1.4.7
CacheControl==0.14.0
pyperclip==1.9.0
branca==0.7.2
alabaster==0.7.16
six==1.16.0
nbclassic==1.1.0
networkx==3.3
PyYAML==6.0.2
opencv-contrib-python==4.10.0.84
cachetools==5.5.0
pandas-stubs==2.1.4.231227
oauth2client==4.1.3
etuples==0.3.9
pymc==5.16.2
et-xmlfile==1.1.0
accelerate==0.34.2
geopy==2.4.1
logical-unification==0.4.6
natsort==8.4.0
eerepr==0.0.4
prefetch_generator==1.0.3
google-cloud-language==2.13.4
python-box==7.2.0
db-dtypes==1.3.0
cmdstanpy==1.2.4
distributed==2024.8.0
fonttools==4.53.1
importlib_resources==6.4.5
platformdirs==4.3.6
fsspec==2024.6.1
jsonschema==4.23.0
fastdownload==0.0.7
matplotlib-venn==1.1.1
jupyter-console==6.1.0
pytest==7.4.4
pyasn1_modules==0.4.1
Cython==3.0.11
pandocfilters==1.5.1
yellowbrick==1.5
tensorboard-data-server==0.7.2
google==2.0.3
aiosignal==1.3.1
jupyter-leaflet==0.19.2
tzdata==2024.1
sortedcontainers==2.4.0
earthengine-api==1.0.0
dm-tree==0.1.8
glob2==0.7
mistune==0.8.4
colorlover==0.3.0
Pygments==2.18.0
google-cloud-iam==2.15.2
ipyfilechooser==0.6.0
rsa==4.9
jax==0.4.26
inflect==7.4.0
html5lib==1.1
python-apt==2.4.0
setuptools==71.0.4
packaging==24.1
pip-tools==7.4.1
types-setuptools==75.1.0.20240917
pyproject_hooks==1.1.0
tomli==2.0.1
requirements-parser==0.9.0
wheel==0.44.0
click==8.1.7
build==1.2.2
pip==24.1.2
PyGObject==3.42.1
blinker==1.4
jeepney==0.7.1
six==1.16.0
wadllib==1.3.6
launchpadlib==1.10.16
dbus-python==1.2.18
python-apt==2.4.0+ubuntu4
lazr.restfulclient==0.14.4
SecretStorage==3.3.1
distro==1.7.0
lazr.uri==1.0.6
keyring==23.5.0
ssh-import-id==5.11
packaging==24.1
inflect==7.3.1
autocommand==2.2.2
typeguard==4.3.0
jaraco.text==3.12.1
importlib_resources==6.4.0
wheel==0.43.0
zipp==3.19.2
platformdirs==4.2.2
ordered-set==4.1.0
importlib_metadata==8.0.0
tomli==2.0.1
more-itertools==10.3.0
typing_extensions==4.12.2
backports.tarfile==1.2.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
